/  app/views/students/selectStudent.html.haml
%form{:method => "post", :action => "deleteStudent"}
  %select{:method => "student_id", :size => 6}
    - @students.each do |s|
      %option{:value => s.id}
        = s.first_name + " " + s.last_name
  %br
  %br
  %input{:type => "submit", :value => "Select"}

